{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Insert title here{% endblock title %}</title>
<link rel="stylesheet" href="{% static 'bootstrap/4.0.0/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.4.1-web/css/all.css' %}">
{% block css %}{% endblock css %}
</head>
<body>
{% block content %}{% endblock content %}

<script src="{% static 'jquery/3.2.1/jquery-3.2.1.slim.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script src="{% static 'popper/popper.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/4.0.0/js/bootstrap.min.js' %}" integrity="" crossorigin="anonymous"></script>
{% block script %}{% endblock script %}
</body>
</html>