@charset "UTF-8";
#menu  ul {
	list-style: none;
}

#menu > ul {
	overflow: visible;
	margin: 0;
	background-color: #efefef;
    display: inline-block;
    padding: 0;
}

#menu > ul > li {
	float: left;
	padding: 0 12px;
	position: relative;
}

#menu  ul > li:hover {
	background-color: #cacaca;
}

#menu ul  li  a {
	color: #000000;
}

#menu ul > li > a {
	line-height: 48px;
}

#menu > ul > li a:hover {
	text-decoration: none;
}

#menu > ul > li > ul {
	position: absolute;
	padding: 0;
	background-color: #efefef;
	width: 150px;
	left: 0px;
}

#menu  ul > li:hover > ul {
	background-color: #a8a8a8;
}

li > ul {
	/* display: none; */
}
.js-hideElement {
	display: none;
}

.js-showElement {
	display: block;
}