<select name="giaovien">
<option value="">_____</option>
{% for obj in objects %}
	<option value="{{ obj.id }}" {% if obj == object %} selected {% endif %}>{{ obj.ten }}</option>
{% endfor %}
</select>