<div class="form-group">
	<div>
		<label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
	</div>
	{% if field.help_text %}
	<div>
		<small id="{{ field.name }}helps" class="text-info">
		({{ field.help_text }})
		</small>
	</div>
	{% endif %}
	{{ field }}
	{% if field.errors %} 
	<small id="{{ field.name }}errors" class="text-danger">
		<ul>
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</small> 
	{% endif %}
</div>