{% if objects %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not objects.has_previous %}disabled{% endif %}">
                {% if objects.has_previous %}
                    <a class="page-link" href="?page={{ objects.previous_page_number }}" tabindex="-1">Previous</a>
                {% else %}
                    <a class="page-link" tabindex="-1">Previous</a>
                {% endif %}
            </li>
            {% for pagerange in pageranges %}
                {% if pagerange == objects.number %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{ pagerange }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ pagerange }}">{{ pagerange }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not objects.has_next %}disabled{% endif %}">
                {% if objects.has_next %}
                    <a class="page-link" href="?page={{ objects.next_page_number }}" tabindex="-1">Next</a>
                {% else %}
                    <a class="page-link" tabindex="-1">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}