<style>
header {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
}

header > h1 {
    display: inline-block;
}

header > ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 8px;
}

header > ul > li {
    display: inline-block;
    font-weight: bold;
}

header > ul > li:not(:first-child) {
    margin-left: 20px;
}
</style>

<h1>Logo</h1>
<ul>
    <li><a>Trang Chủ</a></li>
    <li><a>Liên Hệ</a></li>
</ul>