{% load menu %}

<ul class="menu-list {% if parent %}menu-body{% endif %}">
{% if parent %}
	{% if parent.depth < max_depth %}
	    <li>
	        <div class="child">
	            <div onclick="createChild(this)" aria-url="{% url 'menu:cu_child_menu' parent.pk %}" title="Add Child">+</div>
	        </div>
	        <div class="clearfix"></div>
	    </li>
    {% endif %}
{% else %}
    <li>
        <div class="child">
            <div onclick="createMenu(this)" aria-url="{% url 'menu:c_menu'  %}" title="Add Child">+</div>
        </div>
        <div class="clearfix"></div>
    </li>
{% endif %}

{% for obj in new_objs %}
    <li>
        <div class="menu-first">
            <div class="menu-header">
                <p>{{ obj.name }}</p>
                <div onclick="editMenu(this)" aria-type="button" aria-url="{% url 'menu:u_menu' obj.pk %}">Edit</div>
                <div class="clearfix"></div>
            </div>
	        {% show_menus objs obj %}
        </div>
        <div class="menu-last" onclick="createNext(this)" aria-url="{% url 'menu:cu_next_menu' obj.pk %}">
            <span>+</span>
        </div>
    </li>
{% endfor %}    
</ul>