{% extends "base.html" %}
{% load pagination %}

{% block title %}Danh Sách Học Sinh Lớp {{ lop }}{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
  	<th>Mă lớp</th>
  	<th>Tên lớp</th>
    <th>Mã học sinh</th>
    <th>Tên học sinh</th>
    <th>Miệng 1</th>
    <th>Miệng 2</th>
    <th>Một tiết</th>
    <th>Học kỳ</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
  	<td>{{ obj.hocsinh.lop.malop }}</td>
  	<td>{{ obj.hocsinh.lop.tenlop }}</td>
    <td>{{ obj.hocsinh.mahocsinh }}</td>
    <td>{{ obj.hocsinh.tenhocsinh }}</td>
    <td>{{ obj.mieng1 }}</td>
    <td>{{ obj.mieng2 }}</td>
    <td>{{ obj.tiet }}</td>
    <td>{{ obj.hocky }}</td>
    <td>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 