{% extends "base.html" %}
{% load pagination %}

{% block title %}Danh Sách Học Sinh Lớp {{ lop }}{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Mã học sinh</th>
    <th>Tên học sinh</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td><a href="{{ obj.get_absolute_url }}">{{ obj.mahocsinh }}</a></td>
    <td>{{ obj }}</td>
    <td>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 