{% extends "base.html" %}
{% load pagination %}

{% block title %}Học Sinh{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Mã học sinh</th>
    <th>Tên  học sinh</th>
    <th>Ngày sinh</th>
    <th>Lớp</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td><a href="{{ obj.get_absolute_url }}">{{ obj.mahocsinh }}</a></td>
    <td>{{ obj.tenhocsinh }}</td>
    <td>{{ obj.ngaysinh }}</td>
    <td>{{ obj.lop }}</td>
    <td>
    	<a href="{{ obj.get_absolute_url }}"><i class="fas fa-pen"></i></a>
    	<a href="{{ obj.delete_absolute_url }}"><i class="fas fa-times"></i></a>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 