{% extends "base.html" %}
{% load form_field %}
{% block title %}Lớp{% endblock title %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{% form_field form.mahocsinh %}
	{% form_field form.tenhocsinh %}
	{% form_field form.ngaysinh %}
	{% form_field form.lop %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %} 