{% extends "base.html" %}

{% block title %}Lớp{% endblock title %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="{{ form.malop.id_for_label }}">Mã lớp:</label> 
		{{ form.malop }} 
		{% if form.malop.errors %} 
		<small id="{{ form.malop.name }}help" class="text-danger">
			<ul>
			{% for error in form.malop.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<div class="form-group">
		<label for="{{ form.tenlop.id_for_label }}">Tên lớp:</label> 
		{{ form.tenlop }} 
		{% if form.tenlop.errors %} 
		<small id="{{ form.tenlop.name }}help" class="text-danger">
			<ul>
			{% for error in form.tenlop.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<div class="form-group">
		<label for="{{ form.diengiai.id_for_label }}">Diễn giải:</label> 
		{{ form.diengiai }} 
		{% if form.diengiai.errors %} 
		<small id="{{ form.diengiai.name }}help" class="text-danger">
			<ul>
			{% for error in form.diengiai.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<div class="form-group">
		<label for="{{ form.lopchuyen.id_for_label }}">Lớp chuyên:</label>
		{{ form.lopchuyen }}
		{% if form.lopchuyen.errors %} 
		<small id="{{ form.lopchuyen.name }}help" class="text-danger">
			<ul>
			{% for error in form.lopchuyen.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<div class="form-group">
		<label for="{{ form.tengiaovienchunhiem.id_for_label }}">Tên giáo viên chủ nhiệm:</label> 
		{{ form.tengiaovienchunhiem }}
		{% if form.tengiaovienchunhiem.errors %} 
		<small id="{{ form.tengiaovienchunhiem.name }}help" class="text-danger">
			<ul>
			{% for error in form.tengiaovienchunhiem.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %} 