{% extends "base.html" %}
{% load pagination %}

{% block title %}Lớp{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Mã lớp</th>
    <th>Tên lớp</th>
    <th>Diễn giải</th>
    <th>Lớp chuyên</th>
    <th>Giáo viên chủ nhiệm</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td><a href="{{ obj.get_absolute_url }}">{{ obj.malop }}</a></td>
    <td>{{ obj.tenlop }}</td>
    <td>{{ obj.diengiai }}</td>
    <td>{{ obj.lopchuyen }}</td>
    <td>{{ obj.tengiaovienchunhiem }}</td>
    <td>
    	<a href="{{ obj.get_absolute_url }}"><i class="fas fa-pen"></i></a>
    	<a href="{{ obj.delete_absolute_url }}"><i class="fas fa-times"></i></a>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 