{% extends "base.html" %}

{% block title %}Môn Học{% endblock title %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="{{ form.malop.id_for_label }}">Mã môn:</label> 
		{{ form.mamon }} 
		{% if form.mamon.errors %} 
		<small id="{{ form.mamon.name }}help" class="text-danger">
			<ul>
			{% for error in form.mamon.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<div class="form-group">
		<label for="{{ form.tenmon.id_for_label }}">Tên môn:</label> 
		{{ form.tenmon }} 
		{% if form.tenmon.errors %} 
		<small id="{{ form.tenmon.name }}help" class="text-danger">
			<ul>
			{% for error in form.tenmon.errors %}
				<li>{{ error }}</li>
			{% endfor %} 
			</ul>
		</small> 
		{% endif %}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %} 