{% extends "base.html" %}
{% load pagination %}

{% block title %}Môn{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Mã môn</th>
    <th>Tên môn</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td><a href="{{ obj.get_absolute_url }}">{{ obj.mamon }}</a></td>
    <td>{{ obj.tenmon }}</td>
    <td>
    	<a href="{{ obj.get_absolute_url }}"><i class="fas fa-pen"></i></a>
    	<a href="{{ obj.delete_absolute_url }}"><i class="fas fa-times"></i></a>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 