{% extends "giaovien/base.html" %}
{% load form_field %}
{% load giaoviens %}
{% block title %}Phân công giảng dạy{% endblock title %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{% form_field form.giaovien %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Mã số</th>
				<th>Tên</th>
				<th>Ngày sinh</th>
				<th>Quê quán</th>
			</tr>
		</thead>
		<form method="post" action="" encript=""multipart/form-data">
			<tbody>
				{% csrf_token %}
				{% for giaovien in giaoviens %}
					<tr>
						<td><input type="radio" name="giaovien" value="{{ giaovien.id }}" {% if obj.giaovien.id == giaovien.id %}checked{% endif %}></td>
						<td>{{ giaovien.maso }}</td>
						<td>{{ giaovien.ten }}</td>
						<td>{{ giaovien.ngaysinh }}</td>
						<td>{{ giaovien.diachi }}</td>
					</tr>
				{% endfor %}
				<tr><td colspan="6" style="text-align: right;"><button type="submit">Submit</button></td></tr>
			</tbody>
		</form>
	</table>
</div>
{% endblock content %}