{% extends "giaovien/base.html" %}
{% load pagination %}

{% block title %}Giảng dạy{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Lớp</th>
    <th>Môn</th>
    <th>Giáo viên</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td>{{ obj.lop }}</td>
    <td>{{ obj.mon }}</td>
    <td>{{ obj.giaovien|default:"" }}</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 