{% extends "giaovien/base.html" %}
{% load pagination %}

{% block title %}Giáo viên{% endblock title %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th>Mã số</th>
    <th>Tên</th>
    <th>Ngày sinh</th>
    <th>Địa chỉ</th>
    <th>Môn dạy</th>
    <th>Hành động</th>
  </tr>
  {% for obj in objs %}
  <tr>
    <td><a href="{{ obj.get_absolute_url }}">{{ obj.maso }}</a></td>
    <td>{{ obj.ten }}</td>
    <td>{{ obj.ngaysinh }}</td>
    <td>{{ obj.diachi }}</td>
    <td>{% for mon in obj.monhocs.all %} {{ mon }}</br> {% endfor %}</td>
    <td>
    	<a href="{{ obj.get_absolute_url }}"><i class="fas fa-pen"></i></a>
    	<a href="{{ obj.delete_absolute_url }}"><i class="fas fa-times"></i></a>
   	</td>
  </tr>
  {% empty %}
  <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
  {% endfor %}
</table>

{% pagination objs %}

{% endblock content %} 