{% extends "giaovien/base.html" %}
{% load form_field %}
{% block title %}Giáo viên{% endblock title %}
{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{% form_field form.maso %}
	{% form_field form.ten %}
	{% form_field form.ngaysinh %}
	{% form_field form.diachi %}
	{% form_field form.monhocs %}
	{% form_field form.dangday %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}