{% extends "account/base.html" %}
{% load form_field %}

{% block title %}Đăng nhập{% endblock title %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{% form_field form.username %}
	{% form_field form.password %}
	{% if form.non_field_errors %}
		<small id="non_field_errors" class="text-danger">
			<ul>
				{% for error in form.non_field_errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</small> 
	{% endif %}
	<button type="submit">Submit</button>
</form>
{% endblock content %}