{% extends "account/base.html" %}
{% load form_field %}

{% block title %}Đăng ký{% endblock title %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	{% form_field form.username %}
	{% form_field form.password %}
	{% form_field form.passwordagain %}
	{% form_field form.first_name %}
	{% form_field form.last_name %}
	{% form_field form.email %}
	<button type="submit">Submit</button>
</form>
{% endblock content %}