<div class="row bg-secondary">
	<div class="col-xl-9">
		<nav class="navbar navbar-expand-sm navbar-dark">
		  	<!-- Brand/logo -->
		  	<a class="navbar-brand" href="#">Logo</a>
		  
		  	<!-- Links -->
		  	<ul class="navbar-nav">
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Trang chủ</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Tạo nhóm</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Phân quyền nhóm</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Phân quyền người dùng</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Liên hệ</a>
		    	</li>
		  	</ul>
		</nav>
	</div>
	<div class="offset-xl-1 col-xl-2">
		<div class="navbar navbar-expand-sm navbar-dark">
  			<ul class="navbar btn-group">
	  			<li class="dropdown-toggle" data-toggle="dropdown">Hello</li>
	  			<li class="dropdown-menu">
	  				<a class="dropdown-item" href="{% url 'core:dashboard' %}">Dashboard</a>
	  				<a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
	  			</li>
  			</ul>
		</div>
	</div>
</div>