{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Insert title here{% endblock title %}</title>

<link rel="stylesheet" href="{% static 'bootstrap/4.0.0/css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.4.1-web/css/all.css' %}" integrity="" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.structure.css' %}">
<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.theme.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'cu_menu/menu.css' %}">
{% block css %}{% endblock css %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/4.0.0/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery_ui/jquery-ui.js' %}"></script>
{% block scriptbefore %}{% endblock scriptbefore %}
</head>
<body>
<div id="page">
	<header>
		{% block header %}{% endblock header %}
	</header>
    
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    
    <aside>
        {% block aside %}{% endblock aside %}
    </aside>

	<footer>
		{% block footer %}
		    {% include "footer.html" %}
		{% endblock footer %}
	</footer>
</div>
	
{% block script %}{% endblock script %}
</body>
</html>