{% extends "menu/base.html" %}
{% load form_field %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% form_field form.name %}
    {% form_field form.desc %}
    {% form_field form.path %}
    {% form_field form.isuse %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}