{% extends "menu/base.html" %} 
{% load menu %} 
{% load header %} 

{% block css %}
<style type="text/css">
article ul.menu-list {
	list-style-type: none;
}

article ul.menu-list > li {
	margin-bottom: 10px;
}

article ul.menu-list > li > div.menu-first {
	width: calc(100% - 50px);
}

article ul.menu-list > li {
	position: relative;
}

article ul.menu-list > li:first-child > div.child {
	float: right;
	margin: 10px 0;
	background-color: green;
	padding: 0 10px;
}

article ul.menu-list > li > div.menu-last {
	display: inline-block;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	width: 50px;
	border: 1px solid #000; 
	border-left: none;
	background-color: green;
}

article ul.menu-list > li > div.menu-last > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

article div.menu-header {
	border: 1px solid #000;
	padding: 0 10px;
}

article div.menu-header > p {
	display: inline-block;
	width: calc(100% - 42px);
	margin: 0;
	padding: 10px;
}

article div.menu-header > div[aria-type="button"] {
	display: inline-block;
	margin: 0;
	padding: 5px;
	background-color: green;
}

article ul.menu-body {
	border: 1px solid #000;
	border-top: none;
	padding-right: 10px;
}

.clearfix {
	clear: both;
}
</style>
{% endblock css %}

{% block header %} {% header %} {% endblock header %}

{% block content %}
<article>
{% show_menus objs %}
</article>
{% endblock content %}

{% block script %}
<script>
	function createMenu(el) {
		url = el.getAttribute("aria-url");
		window.location.href = url;
	}

	function createChild(el) {
		url = el.getAttribute("aria-url");
		window.location.href = url;
	}

	function createNext(el) {
		url = el.getAttribute("aria-url");
		window.location.href = url;
	}

	function editMenu(el) {
		url = el.getAttribute("aria-url");
		window.location.href = url;
	}
	
	var elBody = document.querySelectorAll("ul.menu-body");
	var i = 0;
	elBody.forEach(function(el) {
		text = el.innerHTML;
		if(text.trim() == "") {
			el.parentNode.removeChild(el);
		}
	});
</script>
{% endblock script %}
