<div class="row bg-secondary">
	<div class="col-xl-9">
		<nav class="navbar navbar-expand-sm navbar-dark">
		  	<!-- Brand/logo -->
		  	<a class="navbar-brand" href="#">Logo</a>
		  
		  	<!-- Links -->
		  	<ul class="navbar-nav">
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Trang chủ</a>
		    	</li>
		    	<li class="nav-item">
		      		<a class="nav-link" href="#">Liên hệ</a>
		    	</li>
		  	</ul>
		</nav>
	</div>
	<div class="offset-xl-1 col-xl-2">
		<div class="navbar navbar-expand-sm navbar-dark">
	  		{% if user.is_authenticated %}
	  			<ul class="navbar btn-group">
		  			<li class="dropdown-toggle" data-toggle="dropdown">Hello</li>
		  			<li class="dropdown-menu">
		  				<a class="dropdown-item" href="{% url 'core:dashboard' %}">Dashboard</a>
		  				<a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
		  			</li>
	  			</ul>
	    	{% else %}
				<!-- Links -->
			  	<ul class="navbar-nav">
			    	<li class="nav-item">
			      		<a class="nav-link" href="{% url 'account:login' %}">Đăng nhập</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="{% url 'account:registry' %}">Đăng kí</a>
			    	</li>
			  	</ul>
      		{% endif %}
		</div>
	</div>
</div>