{% extends 'base.html' %}
{% load static %}
{% load menu_bar %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/menu_bar.css' %}">
{% endblock css %}

{% block title %} Bảng điều khiển - Superuser {% endblock title %}

{% block content %}
	{% menu user %}
	<div><a href="{% url 'studentmanagement:monhoc' %}">Thêm môn học</a></div>
	<div><a href="{% url 'studentmanagement:giaovien' %}">Thêm giáo viên</a></div>
{% endblock content %}